.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  min-height: 100vh;
  padding-left: 20px;
  padding-top: 40px;
  background-size: cover;
}
.heading {
  color: white;
  font-size: 30px;
}
.paragraph {
  font-size: 18px;
  color: white;
}
.button {
  background-color: #6366f1;
  color: white;
}
